[Unit]
Description=all log dump

[Service]
SmackProcessLabel=crash-worker
Type=oneshot
Nice=-5
KillMode=process
ExecStart=/usr/bin/all_log_dump.sh hardkey
